body{
    background: url("../IMG/esemenyek.png") no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Cabin', sans-serif;
    color: rgb(230, 191, 165);
    max-width: 100%;
    height: auto;
}