body{
    background: url("../IMG/registration3.png") no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Cabin', sans-serif;
    color: rgb(230, 191, 165);
    max-width: 100%;
    height: auto;
    padding-top: 60px;
}

/* NAVBAR start */

header{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 25px rgba(0,0,0,0.1);
    height: 60px;
}
.logo{
    height: 60xp;
    line-height: 60xp;
    color: #38013f;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    padding-left: 20px;
    text-decoration: none; 
}
#toggle{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #e44608;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#toggle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}
#toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.5s;
}
#toggle.active::before{
    transform: translateY(0px) rotate(45deg);
}
#toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}
#toggle.active{
    background: #ff0000;
}
#navbar{
    position: relative;
    height: 60px;
    right: 60px;
    background: #fff;
    transition: 0.5s;
    width: 0px;
    overflow: hidden;
}
#navbar.active{
    width: 732px;
}
#navbar ul{
    position: relative;
    display: flex;
    flex-direction: row;
}
#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    color: #12334e;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0 15px;
    letter-spacing: 2px;
}
#navbar ul li a:hover{
    color: #fff;
    background: #ee4300;
}
/* responsive NAVBAR section */

@media (max-width: 900px)
{
    #navbar{
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 59px);
        
    }
    #navbar.active{
        bottom: 0;
        width: 100%;
    }
    #navbar ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* NAVBAR finish */

/* registration start */ 

.container-login{
    position: absolute;
    top: 55%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.login-form{
    height: 420px;
    width: 330px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    color: #fff;
    padding-top: 50px;
}

.login h3{
    letter-spacing: 1px;

}

input{
    width: 300px;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 10px;
    font-size: 13px;
    border-radius: 30px;
    box-shadow: 0 0 4px #fff;    
}


.btn{
    width: 150px;
    padding: 5px 20px;
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    box-shadow: 0 0 4px #fff;
    cursor: pointer;
    color: rgb(226, 220, 215);
}

input[name]:focus {
    color: rgb(255, 255, 255);
}

input:focus,
.btn:hover {
    box-shadow: 0 0 10px #b92200;
}

@media screen and (max-width: 900px)
{
    .container-login{
        left:50%;
        z-index: -10;
    }
}

@media screen and (max-height: 500px)
{
    .container-login{
        position: inherit;
        transform: none;
    }
    .login-form{
        margin: 0 auto;
    }
}
@media screen and (max-width: 365px)
{
    .container-login{
        position: inherit;
        transform: none;
    }
    .login-form{
        width: 100%;
        margin-left:0;
        margin-right:0;
        border-width: 0;
        box-shadow: none;
        height: 100vh;
    }
}
/*@media screen and (max-width: 991px)
{
    .container-login{
        height: 560px;
        width: 490px;
        top: 53%;
        left: 56%;
        padding: 30px;
        margin: auto;
        z-index: -10;
        
    }
    .input{
        width: 250px;
        margin: 15px;
        background: rgba(0, 0, 0, 0.3);
        outline: none;
        padding: 10px;
        font-size: 13px;
        border-radius: 30px;
        box-shadow: 0 0 4px #fff;
    }
}
@media screen and (max-width: 685px)
{
    .container-login{
        height: 560px;
        width: 490px;
        top: 54%;
        left: 57%;
        padding: 30px;
        margin: auto;
        z-index: -10;
        
    }
    .input{
        width: 250px;
        margin: 15px;
        background: rgba(0, 0, 0, 0.3);
        outline: none;
        padding: 10px;
        font-size: 13px;
        border-radius: 30px;
        box-shadow: 0 0 4px #fff;
    }
}
@media screen and (max-width: 590px)
{
    .container-login{
        height: 560px;
        width: 480px;
        top: 55%;
        left: 58%;
        padding: 30px;
        margin: auto;
        z-index: -10;
        
    }
    .input{
        width: 250px;
        margin: 15px;
        background: rgba(0, 0, 0, 0.3);
        outline: none;
        padding: 10px;
        font-size: 13px;
        border-radius: 30px;
        box-shadow: 0 0 4px #fff;
    }
}
@media screen and (max-width: 550px)
{
    .container-login{
        height: 560px;
        width: 470px;
        top: 55%;
        left: 59%;
        padding: 30px;
        margin: auto;
        z-index: -10;
        
    }
    .input{
        width: 250px;
        margin: 15px;
        background: rgba(0, 0, 0, 0.3);
        outline: none;
        padding: 10px;
        font-size: 13px;
        border-radius: 30px;
        box-shadow: 0 0 4px #fff;
    }
}
@media screen and (max-width: 520px)
{
    .container-login{
        height: 560px;
        width: 460px;
        top: 55%;
        left: 60%;
        padding: 30px;
        margin: auto;
        z-index: -10;
        
    }
    .input{
        width: 250px;
        margin: 15px;
        background: rgba(0, 0, 0, 0.3);
        outline: none;
        padding: 10px;
        font-size: 13px;
        border-radius: 30px;
        box-shadow: 0 0 4px #fff;
    }
}
@media screen and (max-width: 480px)
{   
    
    .container-login{
        height: 560px;
        width: 430px;
        top: 54%;
        left: 55%;
        border-style: none;
        box-shadow: 0 0 0 0;
        padding: 30px;
        z-index: -10;
    }
    input{
        width: 250px;
        margin: 15px;
        outline: none;
        padding: 5px;
        font-size: 12px;
        border-radius: 30px;
        box-shadow: 0 0 4px #fff;
        
    }
}
@media screen and (max-width: 450px)
{   
    
    .container-login{
        height: 560px;
        width: 430px;
        top: 54%;
        left: 54%;
        border-style: none;
        box-shadow: 0 0 0 0;
        padding: 30px;
        z-index: -10;
    }
    input{
        width: 250px;
        margin: 15px;
        outline: none;
        padding: 5px;
        font-size: 12px;
        border-radius: 30px;
        box-shadow: 0 0 4px #fff;
        
    }
}
@media screen and (max-width: 425px)
{   
    
    .container-login{
        height: 560px;
        width: 390px;
        top: 53%;
        left: 54%;
        border-style: none;
        box-shadow: 0 0 0 0;
        padding: 30px;
        z-index: -10;
    }
    input{
        width: 250px;
        margin: 15px;
        outline: none;
        padding: 5px;
        font-size: 12px;
        border-radius: 30px;
        box-shadow: 0 0 4px #fff;
        
    }
}
@media screen and (max-width: 376px)
{   
    
    .container-login{
        height: 560px;
        width: 390px;
        top: 54%;
        left: 51%;
        border-style: none;
        box-shadow: 0 0 0 0;
        padding: 30px;
        z-index: -10;
    }
    input{
        width: 250px;
        margin: 15px;
        outline: none;
        padding: 5px;
        font-size: 12px;
        border-radius: 30px;
        box-shadow: 0 0 4px #fff;
        
    }
}
@media screen and (max-width: 341px)
{   
    
    .container-login{
       
        height: 560px;
        width: 325px;
        top: 54%;
        left: 47%;
        border-style: none;
        box-shadow: 0 0 0 0;
        padding: 13px;
        z-index: -10;
    }
    input{
        width: 250px;
        margin: 15px;
        outline: none;
        padding: 5px;
        font-size: 12px;
        border-radius: 30px;
        box-shadow: 0 0 4px #fff;
        
    }
}
@media screen and (max-width: 320px)
{   
    
    .container-login{
        
        height: 560px;
        width: 305px;
        top: 54%;
        left: 50%;
        border-style: none;
        box-shadow: 0 0 0 0;
        padding: 8px;
        z-index: -10;
    }
    input{
        width: 250px;
        margin: 15px;
        outline: none;
        padding: 5px;
        font-size: 12px;
        border-radius: 30px;
        box-shadow: 0 0 4px #fff;
        
    }
}

/* registration finish */

